<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1050574706231-a56n6ua8u3cu9tuj51p5t2n7onmo8gkh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1050574706231-a56n6ua8u3cu9tuj51p5t2n7onmo8gkh</string>
	<key>API_KEY</key>
	<string>AIzaSyCYJahzkGm-JocKg44f80MacthNEu77zV8</string>
	<key>GCM_SENDER_ID</key>
	<string>1050574706231</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.foobot.debug</string>
	<key>PROJECT_ID</key>
	<string>foobot-ae687</string>
	<key>STORAGE_BUCKET</key>
	<string>foobot-ae687.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1050574706231:ios:26f9fce0f5569793b6d1b2</string>
</dict>
</plist>